* {
    box-sizing: border-box;
}
.bot_boxes {
    display: flex;
}
.top__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h1 {
    color: #4FD666;
    text-transform: uppercase;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-input {
    width: 180px;
    height: 50px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    display: block;
    font: 14px/50px Tahoma;
    transition: all 0.18s ease-in-out;
    border: 1px solid #4FD666;
    background: #3EC97A;
    color: #fff;
    margin-top: 20px;
}
.label-input:hover {
    color: #fff;;
    background: #4FD666;
}
#dropbox {
    height: 200px;
    width: 100%;
    border: 5px dashed #4FD666;
}
#sortable {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#sortable li {
    margin: 10px 10px;
    width: 100px;
    height: 100px;
    font-size: 4em;
    border: 5px solid #3EC97A;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
}
.images {
    width: 100px;

}
